{{yield}}

<div class="press">    
  <input type="checkbox" id="unchecked" checked={{value}} class="cbx hidden"/>
  <label for="unchecked" class="lbl"></label>
</div>
<label class="menu-canvas-element-label">{{label}}</label>
