
@import "ember-bootstrap/bootstrap";

* {
  font-family: 'Roboto', sans-serif;
}

.navbar-default {
  background-color: #00ABC7;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
  font-weight: 900;
}

.language-toggle {
  text-decoration: underline;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.sub-menu {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #22BED5;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  color: white;
}

h1 {
  font-size: 2em;
}


.dropdown {
  cursor: pointer;
}

.search-bar {
  margin-bottom: 15px;
}
