<h1>Databases Index</h1>

<ul>
{{#link-to "databases.voyages" tagName="li"}}<a href="">Voyages</a>{{/link-to}}
{{#link-to "databases.intra-american" tagName="li"}}<a href="">Intra-American</a>{{/link-to}}
{{#link-to "databases.slave-trade" tagName="li"}}<a href="">Slave Trade Assessment</a>{{/link-to}}
{{#link-to "databases.african-names" tagName="li"}}<a href="">African Names</a>{{/link-to}}
</ul>


{{outlet}}
