
<div class="jumbo-container">

  <div class="jumbo-container">
    <div class="jumbotron jumbotron-db">
      <div class="db-title">
        {{#link-to "databases.voyages"}}Voyages{{/link-to}}
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        {{#link-to "databases.voyages.search" class="btn btn-primary btn-lg" role="button"}}search database{{/link-to}}
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">

      <div class="db-title">
        {{#link-to "databases.intra-american"}}Intra-American{{/link-to}}
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        {{#link-to "databases.voyages.search" class="btn btn-primary btn-lg" role="button"}}search database{{/link-to}}
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">

      <div class="db-title">
        {{#link-to "databases.slave-trade"}}Slave Trade Assessment{{/link-to}}
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        {{#link-to "databases.voyages.search" class="btn btn-primary btn-lg" role="button"}}search database{{/link-to}}
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">

      <div class="db-title">
        {{#link-to "databases.african-names"}}African Names{{/link-to}}
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        {{#link-to "databases.voyages.search" class="btn btn-primary btn-lg" role="button"}}search database{{/link-to}}
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">
    </div>
  </div>

</div>

{{outlet}}
