{{outlet}}

<div id="bgvid-container">
  <video id="bgvid" playsinline autoplay muted loop preload>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://lifepenpal.com/wp-content/uploads/2017/07/short-warp-3.webm" type="video/webm">
    <source src="/assets/videos/short-warp-2.mp4" type="video/mp4">
  </video>

  <div class="sections">
    <section id="home-welcome">
      <div class="col-md-12">
        <h1 class="home-welcome-title">Explore the movement of slaves around the Atlantic world</h1>
        <p>View scholarly reviews, estimates, and primary source information on 35,000 transatlantic slave trading voyages that occurred between 1526 and 1866 as well as estimates of the overall size and direction of the trade. You can read the <a class="title">Introductory Maps</a> for a high-level guided overview, view the <a class="title">Timeline and Chronology</a> for a statistical overview, and watch the <a class="title">Slave Trade Animation</a> to see the movement in action.</p>
      </div>
    </section>

    <section id="home-sections">
      <div class="feature-container">
        <div class="col-md-4 feature-box">
          <a><h3 class="title">Trans-Atlantic Slave Trade</h3></a>
          <p>
            <a>database</a> |
            <a>estimates</a> |
            <a>downloads</a> |
            <a>contribute</a>
          </p>
          <p>Over 36,000 transatlantic slaving voyages between the 16th and 19th centuries.</p>
        </div>
        <div class="col-md-4 feature-box">
          <a><h3 class="title">Intra-American Slave Trade</h3></a>
          <p>
            <a>database</a> |
            <a>downloads</a> |
            <a>contribute</a>
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet efficitur eros sit amet tristique. </p>

        </div>
        <div class="col-md-4 feature-box">
          <a><h3 class="title">People of Atlantic Slave Trade</h3></a>
          <p>
            <a>database</a> |
            <a>downloads</a>
          </p>
          <p>The African Names Database was created from these records. </p>
        </div>
        <!-- <div class="col-md-3 feature-box">
          <h3 class="title">Resources</h3>
          <p>
            <a>images</a> |
            <a>education</a> |
            <a>external links</a>
          </p>
          <p>Images include primary source images from historical archives. A variety of lesson plans spanning a range of grade levels have been developed to offer teachers diverse approaches. </p>

        </div> -->
      </div>
    </section>
  </div>
</div>
