<div class="navbar navbar-default">
  <div class="col-md-12">
    {{#link-to 'index' class="navbar-brand"}}Slave Voyages{{/link-to}}
    <ul class="nav navbar-nav pull-right">
      <li>{{#link-to 'database'}}Databases{{/link-to}}</li>
      <li><a href="#" class="disabled">Slave Trade Assessment</a></li>
      <li>{{#link-to 'gallery'}}Image Gallery{{/link-to}}</li>
      <li><a href="#" class="disabled">Education</a></li>
      <li><a href="#" class="disabled">About</a></li>
      <li><a href="#" class='language-toggle' class="disabled">EN</a></li>
    </ul>
  </div>
</div>
