


<div class="navbar navbar-default">
  <div class="col-md-12">
  <div class="navbar-header">

    {{#link-to 'index' class="navbar-brand"}}Slave Voyages{{/link-to}}

  </div>
   <ul class="nav navbar-nav pull-right">
      <li>{{#link-to 'database'}}Databases{{/link-to}}</li>
      <li><a href="#">Slave Trade Assessment</a></li>
      <li>{{#link-to 'gallery'}}Image Gallery{{/link-to}}</li>
      <li><a href="#">Education</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#" class='language-toggle'>EN</a></li>
  </ul>
</div>

  </div>

{{outlet}}
