


<div class="navbar navbar-default">
  <div class="col-md-12">
  <div class="navbar-header">

    <a class="navbar-brand" href="#">Slave Voyages</a>
  </div>
   <ul class="nav navbar-nav pull-right">
      <li class="active"><a href="#">Databases</a></li>
      <li><a href="#">Slave Trade Assessment</a></li>
      <li><a href="#">Image Gallery</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#" class='language-toggle'>EN</a></li>
  </ul>
</div>

  </div>



<div class="sub-menu col-md-12">
  <h1>Databases > Slave Voyages</h1>

  <div class="search-bar">

    {{#menu-aim}}
    <div class="dropdown padding-left-none">
      <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        1855 - 1875
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="time-range">
        <li><a href="#">Date Time</a></li>
      </ul>
    </div>
    {{/menu-aim}}


    {{#menu-aim}}
    <div class="dropdown">
      <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Ship, nation, owner
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="nation-ship-owners">
        <li data-submenu-id="submenu-vin">
          <a href="#">Voyage identification number</a>
          <div id="submenu-vin" class="menu-canvas">
              <h3 class="menu-canvas-title">Voyage identification number</h3>
              <div class="menu-canvas-content">
                <div class="menu-item-description">Voyage identification number is also known as VoyageIDs. They are used to represent and
                reference each unique voyage in the database.</div>
              </div>
          </div>
        </li>

        <li data-submenu-id="submenu-v-cdrom">
          <a href="#">Voyage in 1999 CD-ROM</a>
          <div id="submenu-v-cdrom" class="menu-canvas">
              <h3 class="menu-canvas-title">Voyage in 1999 CD-ROM</h3>
              <div class="menu-canvas-content">

              </div>
          </div>
        </li>

        <li data-submenu-id="submenu-vessel-name">
          <a href="#">Vessel name</a>
          <div id="submenu-vessel-name" class="menu-canvas">
              <h3 class="menu-canvas-title">Vessel name</h3>
              <div class="menu-canvas-content"></div>
          </div>
        </li>
        <li data-submenu-id="submenu-flag" >
          <a href="#">Flag</a>
          <div id="submenu-flag" class="menu-canvas">
              <h3 class="menu-canvas-title">Flag</h3>
              <div class="menu-canvas-content"></div>
          </div>
        </li>
        <li><a href="#">Construction and registration</a></li>
        <li><a href="#">Rig</a></li>
        <li><a href="#">Tonnage</a></li>
        <li><a href="#">Guns mounted</a></li>
        <li><a href="#">Vessel owners</a></li>
      </ul>
    </div>


    {{/menu-aim}}



  </div>



</div>
{{outlet}}
