


<div class="navbar navbar-default">
  <div class="col-md-12">
  <div class="navbar-header">

    <a class="navbar-brand" href="#">Slave Voyages</a>
  </div>
   <ul class="nav navbar-nav pull-right">
      <li class="active"><a href="#">Databases</a></li>
      <li><a href="#">Slave Trade Assessment</a></li>
      <li><a href="#">Image Gallery</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#" class='language-toggle'>EN</a></li>
  </ul>
</div>

  </div>



<div class="sub-menu col-md-12">
  <h1>Databases > Slave Voyages</h1>

  <div class="search-bar">
    <div class="dropdown">
      <span class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

</div>
{{outlet}}
