


<div class="navbar navbar-default">
  <div class="col-md-12">
  <div class="navbar-header">

    <a class="navbar-brand" href="#">Slave Voyages</a>
  </div>
   <ul class="nav navbar-nav pull-right">
      <li class="active"><a href="database">Databases</a></li>
      <li><a href="#">Slave Trade Assessment</a></li>
      <li><a href="#">Image Gallery</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#" class='language-toggle'>EN</a></li>
  </ul>
</div>

  </div>

{{outlet}}
