<div class="cover-image-container">
<div class="cover-image" style="background-image:url(/assets/images/site/cover.gif)">
  <div class="col-md-6">
    hello world
  </div>
  <div class="col-md-6">
    hello world
  </div>
</div>
</div>

{{partial "partials/index-footer"}}
<!--footer start from here-->
